.slider {
  position: relative;
  display: flex;
  overflow-y: hidden;
  margin-right: calc(100% - 1024px);
  
  h1 {
    margin-left: 88px;
    margin-top: 116px;
    color: #fff;
    font-size: 30px;
    font-family: 'GothamPro';
    font-weight: 400;
  }

  &__two {
    background: rgb(219, 236, 144);
    min-width: 1024px;
  }

  &__three {
    background: rgb(142, 140, 240);
    min-width: 1024px;
  }
}