.slider {
  position: relative;
  display: flex;
  margin-right: calc(100% - 1024px);
  overflow-y: hidden;
  
  h1 {
    margin-left: 88px;
    margin-top: 116px;
    color: #fff;
    font-size: 30px;
    font-family: 'GothamPro';
    font-weight: 400;
  }

  &__two {
    min-width: 1024px;
  }

  &__three {
    min-width: 1024px;
  }
}